<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">CNT</a>
    </div>
    <a href="#" data-target="slide-out" class="sidenav-trigger brand-logo"><i class="material-icons">menu</i></a>
</nav>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul id="slide-out" class="sidenav">
    <li><a href="/">Dashboard
            <i class="material-icons left">home</i>
        </a></li>
    <li><a href="/notes/public">Public notes
            <i class="material-icons left">public</i>
        </a></li>
    <li><a href="/notes">My notes
            <i class="material-icons left">note</i>
        </a></li>
    <li><a href="/auth/logout">Logout
            <i class="material-icons left">power_settings_new</i>
        </a></li>
</ul>