<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- jquery --}}
    <script src="/js/jquery-3.5.1.min.js"></script>
    <title>CNT</title>
</head>

<body>
    {{> _header}}
    <div class="container">
        {{{body}}}
    </div>

    {{!-- materialize --}}
    <script src="/js/materialize.min.js"></script>
    <script>
        M.Modal.init($('.modal'))
        M.Sidenav.init($('.sidenav'));
        M.FormSelect.init($('#status'))
    </script>
</body>

</html>