<h1>Public Chat</h1>
<div id="chat-messages">
</div>
<form action="/chat/msg" method="post">
    <input type="text" name="" id="">
    <button type="submit">Send</button>
</form>
<a href="/">Return to dashboard</a>

{{!-- socket.io cdn --}}
<script src="/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>