<h1>Public Chat</h1>
<div class="row">
    <div id="chat-messages" class="col s9" >
        {{#each chats}}
            <div class="blue-grey card-panel lighten-5 left-align">
                <span class="">{{sender.username}}:</span> {{{chatMsg}}}
            </div>
        {{else}}
            No chat messages
        {{/each}}
    </div>
    <div class="col s3 card-panel">
        <h6 class=" center-align">Users connected</h6>
        {{#each users}}
        {{/each}}
    </div>
</div>


<div class="row">
    <div class="col s10">
        <input type="text" autocomplete="off" name="chatMsg" id="chatMsg" required>
    </div>
    <div class="col s2">
        {{!-- WARN: I don't  want to expose it to the browser so check that later --}}
        <input type="hidden" id="username" value="{{username}}">
        <button class="btn" type="button" onclick="sendMsg()">
            <i class="material-icons">send</i>
        </button>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>