<h1>Register</h1>
{{ msg }}
<form action="/auth/reg" method="post">
    <div>
        <div>
            <label for="name">氏名</label>
            <input type="text" id="name" name="name" required>
        </div><br>

        <div>
            <label for="username">ユーザーネーム</label>
            <input type="text" id="username" name="username" required>
        </div><br>

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div><br>

        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>
        </div><br>

        <button class="btn waves-effect waves-light" type="submit" name="action">登録完了
        </button>
        <a href="/login" class="waves-effect waves-light btn">ログインはこちら
            {{!-- <i class="material-icons right">forward</i> --}}
        </a>

    </div>
</form>